<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rxjava.example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.VoiceActivity" />
        <activity android:name=".activity.CameraActivity">
            <intent-filter>
                <!--复制系统相机Action，为相机应用注册-->
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WebViewActivity"/>

        <activity android:name=".activity.PermissionActivity" />
        <activity android:name=".activity.ObtainPhotoActivity" />
        <activity android:name=".left.LeftMainActivity" />
        <activity android:name=".left.ScorllActivity" />
        <activity android:name=".left.TabLayoutActivity" />
        <activity android:name=".activity.ActivityBase" />
        <activity android:name=".activity.DialogActivity" />
    </application>

</manifest>